div.show {
    background-color: #eeeff0!important;
}

.accordion-body {
    /*background-color: #ffdede;*/
    /*border: outset;*/
}

.accordion-button:focus {
    border-color: black!important;
}

.accordion-button:not(.collapsed) {
    background-color: #4d4d4f!important;
    color: #dddddd!important;
}