.info {
  text-align: center;
}

.round-message {
  text-align: center;
  round-clip: 10px;
  background-color: #f9ae06;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  padding: 30px;
  margin: 30px;

}

.circle {
  background-color: #c67b02;
  padding:15px;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
  text-align: center;
  position: relative;
  border-radius: 50%;
  min-width: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:after {
  content: '';
  padding-top: 100%;
  display:table;
}
