.crop-block > img {
    max-width: 100%;
    /*min-height: 100%;*/
    width: auto;
    height: auto;
    overflow: unset;
}

.carousel-item.active {
    display: flex!important;
    align-items: center;
}

.crop-block {
    max-height: 20rem;
    /*height: auto;*/
    /*height: 300px;*/
}

.caption {
    font-size: medium;
    background: rgba(0,0,0, 50%);
    border-radius: 10px;
}
