.img {
    background-image: url("../../img/smile_ok.jpg");
    background-position: center;
    max-height: 20rem;
    max-width: 20rem;
    background-size: cover;
    object-fit: cover;
    border-radius: 100%;
    display: inline-block;
    width: auto;
    min-width: 10rem;
    min-height: 10rem;
}
.img:hover {
    background-image: url("../../img/smile_not_ok.jpg");
}
.img-cont {
    position: relative;
    padding: 2rem;
}
